body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

header {
    border-bottom: 2px solid #eaeaea;
    img {
        margin-right: 15px;
    }

    h3,
    p {
        margin: 0;
    }
}

.content {
    h1 {
        margin: 0;
    }
}

.search-block {
    position: relative;
    padding: 0 15px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;

    input {
        width: 200px;
        border: 0;
        padding: 12px;
        font-size: 16px;
    }

    .removeBtn {
        position: absolute;
        right: 15px;
        top: 12px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 100%;
    right: 0;
    padding: 30px;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    .items {
        flex: 1;
        overflow: auto;
        margin-bottom: 40px;
        // border-bottom: 2px solid #c8c7c7;
    }

    h2 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.cartEmpty {
    flex: 1;
    text-align: center;

    p {
        width: 280px;
        line-height: 24px;
    }

    .greenButton {
        position: relative;
        width: 245px;
        margin-top: 20px;

        img {
            position: absolute;
            left: 25px;
            top: 21px;
            transition: transform 0.15s ease-in-out;
            transform: scale(-1, 1);
        }
        &:hover {
            img {
                transform: translateX(-10px) scale(-1, 1);
            }
        }
    }
}

.cartTotalBlock {
    ul {
        display: block;
        margin-bottom: 30px !important;

        li {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            div {
                flex: 1;
                position: relative;
                top: 5px;
                height: 1px;
                margin: 0 10px;
                border: 1px dashed #dfdfdf;
            }
        }
    }
    .greenButton {
        position: relative;
        img {
            position: absolute;
            right: 40px;
            top: 22px;
            transition: transform 0.15s ease-in-out;
        }
        &:hover {
            img {
                transform: translateX(10px);
            }
        }
    }
}

.greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border: 0;
    color: #fff;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: lighten(#9dd558, 5%);
    }

    &:active {
        background: darken(#9dd558, 5%);
    }
}

.cartItem {
    margin-bottom: 20px;
    padding: 10px 20px;
    overflow: hidden;
    border: 2px solid #e9e9e9;
    border-radius: 10px;

    p {
        margin: 0;
        font-size: 14px;
    }
    b {
        font-size: 16px;
    }

    .removeBtn {
        opacity: 0.5;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}
